<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/findPath.css') }}">
    <link rel="icon" href="../../favicon.ico">
    <title>Adaptive Framework for Learning</title>
    </script>
  </head>

  <body class="adaptive">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Adaptive Framework for Learning</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="col-sm-9 col-md-10 main">
        <h1 class="page-header">Adaptive Course Planner for {{ student }}</h1>
      </div>
    </div>
    <div id="MainMenu">
      <div class="list-group panel">
        <a href="#demo3" class="list-group-item list-group-item-info strong" data-toggle="collapse" data-parent="#MainMenu">Proposed Plan 1 - {{ plan1 }}<i class="fa fa-caret-down"></i></a>
        <div class="collapse in" id="demo3">
          <img src="/static/images/plan1-1.png" alt="Could not find image! :()">
          <img src="/static/images/plan1-2.png" alt="Could not find image! :()">
        </div>
        <a href="#demo4" class="list-group-item list-group-item-success strong" data-toggle="collapse" data-parent="#MainMenu">Proposed Plan 2 - {{ plan2 }}<i class="fa fa-caret-down"></i></a>
        <div class="collapse" id="demo4">
          <img src="/static/images/plan2-1.png" alt="Could not find image! :()">
          <img src="/static/images/plan2-2.png" alt="Could not find image! :()">
        </div>
        <a href="#demo5" class="list-group-item list-group-item-info strong" data-toggle="collapse" data-parent="#MainMenu">Proposed Plan 3 - {{ plan3 }}<i class="fa fa-caret-down"></i></a>
        <div class="collapse" id="demo5">
          <img src="/static/images/plan3-1.png" alt="Could not find image! :()">
          <img src="/static/images/plan3-2.png" alt="Could not find image! :()">
        </div>
      </div>
    </div>

  </body>
</html>
